#pip install -r requirements.txt
Pandas
NumPy
SciPy
Matplotlib
Seaborn
TensorFlow
PyTorch
Scikit-learn
Django
Flask
Pyramid
Scrapy
Selenium
Pytest
Gensim
SpaCy
Pillow
SQLAlchemy
Bokeh
SymPy
Statsmodels
Plotly
Tornado
Twisted
wxPython
Pygame
Pymongo
Redis
Cython
Numba
Pyo
Aiohttp
Sanic
FastAPI
PeeWee
SQLObject
GLPK
PuLP
Pyomo
Zipline
Pyro
Pomegranate
Prophet
PyMC3
Stan
Edward
Pyro
GluonTS
CatBoost
LightGBM
Eli5
PyCaret
Optuna
Ray
Dask
Joblib
Luigi
Airflow
Celery
RQ
Huey
Dramatiq
Faust
Pydantic
Marshmallow
Cerberus
Voluptuous
Trafaret
Schematics
WTForms
FormEncode
Deform
Colander
Parsl
FireWorks
Streamlit
Panel
Dash
Voila
Rise
Pywebio
Anvil
Spyder
PyCharm
Jupyter
Thonny
EricPython
PyDev
Wing
Komodo
Black
Flake8
Mypy
Pylint
Bandit
Pytest-cov
Coverage.py
Faker
FactoryBoy
Mimesis
Hypothesis
PySnooper
Icecream
Hunter
Manhole
Pudb
Py-spy
StackImpact
Py-Spy
vmprof
MemoryProfiler
objgraph
Dozer
Dowser
Guppy
Pympler
Scikit-image
OpenCV
PIL
imageio
Pygame
Mahotas
SimpleITK
pgmagick
h5py
PyTables
bcolz
Zarr
Pandas
Dask
Vaex
datatable
Cubes
PandasGUI
Modin
Swifter
Pandarallel
Speedml
Pyjanitor
Optimus
Dora
bamboolib
PySpark
Koalas
Ibis
Dask-SQL
BlazingSQL
Turbodbc
PyHive
impyla
JayDeBeApi
SQLAlchemy
PonyORM
DjangoORM
Peewee
TortoiseORM
SQLObject
Pypika
Tripl
Pendulum
Maya
Arrow
dateparser
parsedatetime
Chronyk
delorean
when.py
freezegun
time-machine
APScheduler
schedule
huey
taskmaster
Plan
DoIt
Joblib
scoop
pathos
ppft
Pyro4
RPyC
PyMP
ParallelPython
multiprocess
pyina
jug
Plumbum
Invoke
Fabric
Paver
doit
SCons
Rake
pynt
sh.py
sarge
delegator.py
subprocess32
pbs
Commando
Click
Fire
docopt
Begins
Cliff
Cement
Flask-Script
hug
fastapi
connexion
Falcon
Morepath
Sanic
Tornado
Twisted
Pyramid
TurboGears
web2py
Zope
Grok
BlueBream
Nagare
reahl
Pyjs
Skulpt
Brython
Transcrypt
Batavia
Jiphy
Metapensiero.pj
Pyjaco
RapydScript
Pythran
Nuitka
Pyrex
Cython
ShedSkin
Pythran
PyPy.js
Pyston
Grumpy
Jython
IronPython
StacklessPython
MicroPython
CircuitPython
PyInstaller
cx_Freeze
bbfreeze
py2exe
PyOxidizer
Nuitka
Briefcase
pex
shiv
zipapp
dh-virtualenv
PyUpdater
PyArmor